<!-- Outer div necessary to keep everything nicely vertically aligned -->
<div class="h-screen flex flex-col">
    <div ngSwipe id="image-viewer-root" class="w-full h-full fixed"
        *ngIf="queryManager.viewingFileID != -1 && queryManager.viewingFile" (swipeEnd)="onImageViewerSwipeEnd($event)">
        <div class="absolute left-0 top-0 w-full h-fit flex flex-row p-1 space-x-2">
            <button mat-icon-button disableRipple id="infoButton" class="viewer-button"
                (click)="viewerInfoOpen = !viewerInfoOpen">
                <mat-icon color="{{ viewerInfoOpen ? 'accent' : '' }}">info</mat-icon>
            </button>
            <button mat-icon-button disableRipple id="downloadButton" class="viewer-button"
                (click)="supaService.downloadFileContents(queryManager.viewingFile.filename)">
                <mat-icon>download</mat-icon>
            </button>
            <button mat-icon-button disableRipple id="deleteButton" class="viewer-button" (click)="deleteClick()">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
        <button mat-icon-button disableRipple id="closeButton" class="viewer-button" (click)="queryManager.viewClose()">
            <mat-icon>close</mat-icon>
        </button>
        <div id="info-bar" [class.viewer-open]="viewerInfoOpen" class="fixed w-full text-white">
            <h1 class="absolute left-[11rem] right-12 top-3 text-ellipsis break-all whitespace-nowrap overflow-hidden">
                {{ queryManager.viewingFile.filename }}
            </h1>
            <div class="mt-16 mx-3 mb-3" *ngIf="queryManager.viewingFile != undefined">
                <app-tag-chip [tagIDs]="currentFileTags"></app-tag-chip>
            </div>
        </div>
        <app-fileviewer class="w-full h-full text-white" [fileID]="queryManager.viewingFileID">
        </app-fileviewer>
        <button *ngIf="queryManager.viewCanGoBack()"
            class="absolute left-0 top-0 h-full w-8 text-white bg-black bg-opacity-40"
            (click)="queryManager.viewLastFile()">
            <mat-icon class="scale-[200%]">chevron_left</mat-icon>
        </button>
        <button *ngIf="queryManager.viewCanGoForward()"
            class="absolute right-0 top-0 h-full w-8 text-white bg-black bg-opacity-40"
            (click)="queryManager.viewNextFile()">
            <mat-icon class="scale-[200%]">chevron_right</mat-icon>
        </button>
    </div>
    <app-toolbar class="flex-0" (onTagClick)="router.navigate(['/tag'])"
        (onSettingsClick)="router.navigate(['/settings'])" (onSidebarClick)="sidebarToggled = !sidebarToggled"
        [sidebarButtonVisible]="windowIsSmall" [currentMode]="'Searching'"></app-toolbar>
    <mat-sidenav-container class="flex-grow" disableClose>
        <mat-sidenav [opened]="sidebarVisible" [mode]="windowIsSmall ? 'over' : 'side'"
            class="sidebar min-w-fit w-fit pr-3 pb-3 pt-3">
            <app-searchinput (queryChanged)="this.queryManager.navigateToQuery($event)" [query]="queryManager.query"
                orientation="vertical">
            </app-searchinput>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content class="p-3">
            <div class="flex flex-row items-end">
                <h1>Results</h1>
                <h3 *ngIf="queryManager.resultsCount != undefined" class="ml-1.5">
                    (<span
                        *ngIf="queryManager.searchResult && queryManager.searchResult.length > 0">1-{{queryManager.searchResult.length}}
                        of </span>{{ queryManager.resultsCount }})
                </h3>
            </div>
            <mat-spinner *ngIf="queryManager.searchResult === undefined" diameter="50"></mat-spinner>
            <h2
                *ngIf="queryManager.searchError === undefined && queryManager.searchResult !== undefined && queryManager.searchResult.length == 0">
                No results
            </h2>
            <h2 *ngIf="queryManager.searchError !== undefined">
                Failed to get results: <code>{{ queryManager.searchError }}</code>
            </h2>
            <mat-grid-list *ngIf="queryManager.searchResult != undefined" cols="4" rowHeight="256">
                <mat-grid-tile *ngFor="let file of queryManager.searchResult; trackBy: fileTrackFunc">
                    <img class="h-full max-h-72 m-0 object-scale-down hover:scale-95 transition-all cursor-pointer"
                        [src]="supaService.thumbContentsAddress(file.storageID)"
                        (click)="queryManager.viewFile(file.id)" />
                </mat-grid-tile>
            </mat-grid-list>
            <button *ngIf="!queryManager.searchRequestInFlight() && !queryManager.noMoreResults" mat-flat-button
                class="m-1" color="primary" (click)="queryManager.getMoreResults()">
                Load More Results
                <mat-icon>expand_more</mat-icon>
            </button>
            <h1
                *ngIf="!queryManager.searchRequestInFlight() && queryManager.searchError == undefined && queryManager.noMoreResults">
                No more results</h1>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>