apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: supabase-postgres
spec:
  serviceName: supabase-postgres
  replicas: 1
  selector:
    matchLabels:
      app: supabase-postgres
  template:
    metadata:
      labels:
        app: supabase-postgres
    spec:
      {{ with .Values.supabase.postgresql }}
      {{ if .nodeSelector }}
      nodeSelector:
        {{- toYaml .nodeSelector | nindent 8}}
      {{ end }}
      {{ if .tolerations }}
      tolerations:
        {{- toYaml .tolerations | nindent 8}}
      {{ end }}
      {{ end }}
      containers:
        - name: postgres
          image: supabase/postgres:14.1.0.89
          env:
            - name: POSTGRES_HOST
              value: "/var/run/postgresql"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: supabase-db-credentials
                  key: postgresPassword
          readinessProbe:
            exec:
              command:
                - pg_isready
                - "-U"
                - "postgres"
                - "-h"
                - "localhost"
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: pg-data
              mountPath: /var/lib/postgresql/data
            - name: pg-roles
              mountPath: /docker-entrypoint-initdb.d/roles.sql
              subPath: "roles.sql"
      volumes:
        - name: pg-data
          persistentVolumeClaim:
            claimName: shinysorter-supabase-postgres-data
        - name: pg-roles
          secret:
            secretName: supabase-db-pg-roles
---
apiVersion: v1
kind: Secret
metadata:
  name: supabase-db-pg-roles
stringData:
  roles.sql: |
    \set pgpass `echo "$PGPASSWORD"`

    ALTER USER authenticator WITH PASSWORD :'pgpass';
    ALTER USER pgbouncer WITH PASSWORD :'pgpass';
    ALTER USER supabase_auth_admin WITH PASSWORD :'pgpass';
    ALTER USER supabase_storage_admin WITH PASSWORD :'pgpass';
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-postgres
spec:
  ports:
    - name: postgres
      targetPort: postgres
      port: {{ .Values.supabase.postgresql.port }}
  selector:
    app: supabase-postgres
  type: LoadBalancer
