apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "shinysorter.fullname" . }}-supabase-studio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supabase-studio
  template:
    metadata:
      labels:
        app: supabase-studio
    spec:
      {{ with .Values.supabase.studio }}
      {{ if .nodeSelector }}
      nodeSelector:
        {{- toYaml .nodeSelector | nindent 8}}
      {{ end }}
      {{ if .tolerations }}
      tolerations:
        {{- toYaml .tolerations | nindent 8}}
      {{ end }}
      {{ end }}
      terminationGracePeriodSeconds: 5
      containers:
      - name: studio
        image: supabase/studio:20221214-4eecc99
        imagePullPolicy: IfNotPresent
        env:
        - name: STUDIO_PG_META_URL
          value: "http://supabase-meta:8080"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: supabase-db-credentials
              key: postgresPassword
        - name: DEFAULT_ORGANIZATION
          value: "Default Organization"
        - name: DEFAULT_PROJECT
          value: "Default Project"
        - name: SUPABASE_URL
          value: "http://{{ .Values.supabase.address }}:{{ .Values.supabase.studio.port}}"
        - name: SUPABASE_PUBLIC_URL
          value: "http://{{ .Values.supabase.address }}:{{ .Values.supabase.kong.port }}"
          # # Kept for backwards compatibility with studio:0.22.08
        - name: SUPABASE_REST_URL
          value: "http://{{ .Values.supabase.address }}:{{ .Values.supabase.kong.port }}"
        - name: SUPABASE_ANON_KEY
          value: {{ .Values.supabase.anonKey }}
        - name: SUPABASE_SERVICE_KEY
          value: {{ .Values.supabase.serviceKey}}
        ports:
        - name: ui
          containerPort: 3000
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-studio
spec:
  ports:
    - name: ui
      targetPort: ui
      port: {{ .Values.supabase.studio.port }}
  selector:
    app: supabase-studio
  type: LoadBalancer
