<div *ngIf="allUnusedTags && allUnusedTags.size > 0">
    <mat-card>
        <mat-card-title class="pb-3">
            <mat-icon class="scale-125 align-baseline mr-3">priority_high</mat-icon>Tags Without Questions
        </mat-card-title>
        <mat-card-subtitle>
            These tags will not be shown as options during the tagging process! Add them to a question so they can be
            added to files.
        </mat-card-subtitle>
        <mat-card-content>
            <app-tag-chip [tagIDs]="unusedTagIDs"></app-tag-chip>
        </mat-card-content>
    </mat-card>
    <mat-divider class="my-3 w-full"></mat-divider>
</div>
<div class="flex flex-row">
    <h1 class="mt-0.5 mr-6">Edit Questions</h1>
    <button mat-stroked-button class="h-9" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        Add new question
    </button>
</div>
<mat-accordion>
    <app-question-tile *ngFor="let q of questions" [question]="q"
        (updateQuestion)="updateQuestion(q.id, $event.question, $event.options)"
        (deleteQuestion)="deleteQuestion($event)" (reorderQuestions)="reorderQuestions($event)">
    </app-question-tile>
</mat-accordion>